.root {
   -fx-background-color: transparent;
}
/* Not working look at App.java init() method */
@font-face {
    font-family: 'Roboto-Medium';
    src: url('Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoMono-Medium';
    src: url('RobotoMono-Medium.ttf');
}

@font-face {
    font-family: 'RobotoMono Medium';
    src: url('RobotoMono-Medium.ttf');
}
.window-container {
    -fx-background-color: transparent;
}
.clock-background {
    -fx-background-color: rgba(0,0,0, 0.65);
}

.date-background {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

#region-country {
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 100;
    -fx-font-size: 16;
    -fx-font-style: normal;
}

.date-day {
    -fx-font-family: "Roboto Thin";
    -fx-font-weight: 900;
    -fx-font-size: 14;
    -fx-font-style: normal;
}
.date-month {
    -fx-font-family: "Roboto Bold";
    -fx-font-weight: 800;
    -fx-font-size: 20;
    -fx-font-style: normal;
}

.clock-digits {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 20;
}
.temperature {
    -fx-font-family: "Roboto Black";
    -fx-font-size: 18;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :1.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 5.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 5.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
