

.window-control-bar {
  /*-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, black 0%, #de752f 5%, black 100%);*/
  -fx-background-color: black;
  -fx-border-style: none none none none;
  -fx-border-width: 1;
  -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, black 0%, #20202020 100%);
}

.config-gear {
    -fx-shape: "M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z";
    -fx-background-color: "#2fdae0dd";

    /*-fx-background-color: "#2fdae090";*/
    -fx-fill: "#000000";
    -fx-stroke: "#2fdae0ff";
    -fx-stroke-width: 1.5;
    -fx-min-height: 12;
    -fx-min-width: 12;
    -fx-max-height: 12;
    -fx-max-width: 12;
}
.config-gear:hover {
    -fx-background-color: "#2fdae0";
}

.window-close {
    -fx-shape: "M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z";
    -fx-background-color: "#2fdae0dd";
    -fx-min-height: 8.5;
    -fx-min-width: 8.5;
    -fx-max-height: 8.5;
    -fx-max-width: 8.5;
}

.window-close:hover {
    -fx-background-color: "#2fdae0";
}